.app__pricephone{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: baseline;
    overflow: hidden;

    height: 271.9vw;
}

.pricephone-productsChoosen{
    display: flex;
    align-items: center;

    margin-left: 2.913vw;
}

.pricephone-priceSign{
    font-family: var(--font-main);
    font-style: normal;
    font-weight: 400;
    font-size: 4.612vw;


    color: var(--color-nameofsections);

    margin-right: 4.612vw;
}

.pricephone-productsChoosen-buttons{
    display: grid;

    grid-auto-flow: column;
    gap: 2.670vw;

}
.pricephone-productsChoosen-buttons button{
    margin-right: 2.670vw;
}

.productChoosen-mainButton{
    width: 29.612vw;
    height: 8.495vw;

    font-family: var(--font-main);
    font-style: normal;
    font-weight: 400;
    font-size: 3.398vw;

    color: var(--color-white);

    outline: none;
    border: none;

    background-color: var(--color-black);
}

.productChoosen-additionalButton{
    width: 29.612vw;
    height: 8.495vw;

    font-family: var(--font-main);
    font-style: normal;
    font-weight: 400;
    font-size: 3.398vw;

    color: var(--color-black);

    outline: none;
    border: 1px solid var(--color-black);

    background-color: transparent;
}


.pricephone-prices{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    margin-top: 9.709vw;
}

.pricephone-prices p{
    position: relative;

    font-family: var(--font-main);
    font-style: normal;
    font-weight: 400;
    font-size: 10px;

    color: var(--color-priceinothersequenceprice);
}

.pricephone-priceWeb-MaximaSign,
.pricephone-priceWeb-OptimaSign{
    margin-top: 1.214vw;
    margin-bottom: 0.485vw;
}

.pricephone-priceWeb-MaximaPrice,
.pricephone-priceWeb-OptimaPrice{
    font-size: 1.942vw!important;
}

.phonepriceAdditionalLeft,
.phonepriceAdditionalRight{
    position: relative;

    width: 24.515vw;
    height: 37.136vw;

    object-fit: cover;
}


.phonepriceMain{
    width: 27.670vw;
    height: 41.748vw;
    
    object-fit: cover;
    filter: drop-shadow(var(--box-shadowforusereviewphone));
    -webkit-filter: drop-shadow(var(--box-shadowforusereviewphone));
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.pricephone-ordermeeting{
    font-family: var(--font-main);
    font-style: normal;
    font-weight: 400;
    font-size: 2.427vw;
    
    padding: 3.5vw 5.5vw;
    margin-top: 7.767vw;
    margin-left: 5.825vw;

    color: var(--color-white);
    box-shadow: var(--box-shadow);
    background: var(--color-black);
    
    border-style: none;
    cursor: pointer;
}

.pricephone-informationAboutService{
    margin-top: 7.524vw;
    margin-left: 5.825vw;
}

.pricephone-prices-header{  
    font-family: var(--font-main);
    font-style: normal;
    font-weight: 400;
    font-size: 5.340vw;

    color: var(--color-black);

    margin-bottom: 2.184vw;
}

.pricephone-prices-price{
    font-family: var(--font-main);
    font-style: normal;
    font-weight: 400;
    font-size: 3.398vw;

    color: var(--color-namepriceinothersequence);
    margin-bottom: 2.184vw;
}

.pricephone-prices-description{
    font-family: var(--font-main);
    font-style: normal;
    font-weight: 400;
    font-size: 3.398vw;

    color: var(--color-black);
}

.pricephone-prices-propose{
    font-family: var(--font-main);
    font-style: normal;
    font-weight: 400;
    font-size: 3.155vw;
    
    color: var(--color-black);
    margin-bottom: 1.699vw;
}

.pricephone-prices-list div{
    display: flex;
    align-items: center;

    font-family: var(--font-main);
    font-style: normal;
    font-weight: 400;
    font-size: 3.155vw;

    color: #343434;
    margin-bottom: 2.184vw;
    margin-left: 1.214vw;
}

.pricePhoneLastDiv{
    margin-bottom: 2.670vw;
}

.pricephone-prices-list div{
    animation: slideLeftList .4s ease-in-out both;
}

.pricephone-prices-list p{
    white-space: nowrap;
}

.pricephone-prices-square{
    width: 0.485vw;
    height: 0.485vw;

    background-color: var(--color-black);
    margin-right: 1.214vw;
}

.PriceDiv{
    animation: slideLeftPrice .6s ease-in-out both;
    animation-delay: .4s;
}

.ListZero{ animation-delay: .6s!important; }
.ListOne{ animation-delay: .7s!important; }
.ListTwo{ animation-delay: .8s!important; }
.ListThree{ animation-delay: .9s!important; }
.ListFour{ animation-delay: 1s!important; }
.ListFife{ animation-delay: 1.1s!important; }
.ListSix{ animation-delay: 1.2s!important; }

.phonePriceMain,
.phonePriceAdditional{
    animation: AppearMain 0.3s ease-in-out both;
}

@keyframes slideLeftPrice {
    0%{
        width: 0px;
    }100%{
        width: 100%;
    }
}

@keyframes slideLeftDescriptionBR {
    0%{
        width: 0px;
    }100%{
        width: 100%;
    } 
}

@keyframes slideLeftList {
    0%{
        width: 0px;
    }100%{
        width: 100%;
    } 
}

@media screen and (max-width: 480px) {
    .app__price{
        display: none;
    }

    .app__pricephone{
        display: flex!important;
    }
}

.pricephone-Right{
    display: flex;
    position: relative;
    flex-direction: column;

    right: -4.612vw;
}

.pricephone-Left{
    display: flex;
    position: relative;
    flex-direction: column;

    left: -4.612vw;
}

.PricePalm{
    width: 86.667vw;
    height: 82.692vw;
    position: absolute;
    transform: rotate(-40.62deg);
    left: 59.590vw;
    bottom: 38vw;
}
.PricePalm1{
    width: 86.667vw;
    height: 82.692vw;
    position: absolute;
    transform: rotate(147.56deg);
    left: -43.590vw;
    bottom: 7vw;
}
.arrow_price{
    position: absolute;
    
    width: 37vw;

    left: 39vw;
    bottom: 3vw;
}