.app__headerphone{
    display: none;
    background-color: #FFFFFF;
    height: 244.615vw;
    flex-direction: column;
}
.headerphone_service_text{
    font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 400;
font-size: 8.974vw;
line-height: 11.282vw;
width: 51.795vw;
margin-left:18.718vw;
margin-top: 22.051vw;

color: #343434;
}
.Header-palm{
    position: absolute;
width: 77.851vw;
height: 81.062vw;
left: 68.205vw;
top: 14.897vw;
transform: rotate(-131.1deg);
}
.Header-palm2{
    position: absolute;
width: 80.141vw;
height: 83.195vw;
left: -55.210vw;
top: 1.197vw;

transform: rotate(76.37deg);
}
.Header-palm3{
    position: absolute;
    width: 86.813vw;
height: 82.692vw;
left: -55.210vw;
/* top: 136.923vw; */
bottom: 15.256vw;

transform: rotate(42.12deg);
}
.Header-palm4{
    position: absolute;
width: 86.813vw;
height: 82.692vw;
left: 50.846vw;
top: 126.054vw;

transform: rotate(-53.06deg);
}
.headerphone_utp{
    font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 400;
font-size: 6.410vw;
line-height: 7.949vw;
margin-left: 13.077vw;
color: rgba(52, 52, 52, 0.64);
}
.headerphone_utp li{
    margin-top: 3.333vw;
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 4.103vw;
    line-height: 5.128vw;
    /* identical to box height */
    width: 75.128vw;
    
    color: #343434;
}
.headerphone_fma{
    margin-left: 42.308vw;
    margin-top: 67.179vw;
    width: 16.667vw;
    border: 0.5px solid #343434;
box-sizing: border-box;
text-align: center;


font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 400;
font-size: 4.872vw;
line-height: 6.154vw;
color: #343434;
}
.headerphone_fma_whiteBorder1{
    position: absolute;
width: 3.718vw;
height: 0.854vw;
left: 41.126vw;
top: 205.188vw;

background: white;
transform: rotate(-45deg);
}
.headerphone_fma_whiteBorder2{
    position: absolute;
width: 3.718vw;
height: 0.854vw;
left: 56.154vw;
top: 209.723vw;

background: #FFFFFF;
transform: rotate(-45deg);
}
.arrow_header{
width: 27.154vw;
height: 25.397vw;
margin-left: 29.487vw;
}
.arrow_header2{
width: 37.921vw;
height: 35.128vw;
margin-left: 16.795vw;
}